* {
	padding:0;
	margin:0;
	font-family: 'Quicksand', sans-serif;
	color: #333;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding:15px 24px;
	text-transform: uppercase;
}
header h1 a {
	transition: .3s;
}
header h1 a:hover {
	color: #3ba076;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: .3s;
}
header ul li a:hover {
	color: #3ba076;
}
a {
	text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #17735f;
}
li {
    float: left;
}
li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover
.dropdown:hover .dropbtn {
    background-color: #50c890;
    transition: all 0.5s ease;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #5ff885;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.sembunyi {
    display: none;
}
.tombolLengkapnya {
    cursor: pointer;
    background-color: #4CAF50;
    color:#3ba076;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.container::after {
	content: '';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
  display: none;
	padding: 18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check {
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(244, 248, 247, 0.9);
}
.sidebar ul li a {
	color: #fff;
}
.sidebar ul li {
	padding:24px;
	transition: 0.3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: rgb(111, 196, 156);
}
#check:checked ~ .sidebar {
	left: 0;
}
.banner {
	background-color: #1fb677;
	padding:150px 0;
}
section {
	padding:50px 0;
}
.banner img {
	width: 200px;
	border-radius: 30px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span {
	color: #fff;
}
.banner h2 {
	margin-bottom: 10px;
}
.banner p {
	font-size: 50px;
}
.banner-left {
	padding-left:24px;
}
section h3 {
	padding-bottom: 20px;
	text-align: center;
	margin:20px;
	position: relative;
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width:40px;
	height:4px;
	background-color: #44f8cb;
	left: calc(50% - 20px);
}
#overview p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
#relationship p {
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;
}
#population,
#contact {
	background-color: #f9f9f9;
}
#population .bar {
	height: 30px;
	background-color: #fff;
	border:1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai {
	height:30px;
	background-color: rgb(89, 129, 106);
	display: inline-block;
	color: #fff;
	text-align: center;
}
.populasiumum{
	width:2,3%;
}
.pria {
	width:3,1%;
}
.Wanita {
	width:1,4%;
}
.video {
display: center;
padding: 10px 20px;
}
.container1 {
text-align: center;
}
.card-img {
	width: 400px;
	aspect-ratio: 1/1;
	overflow: hidden;
	position: relative;
  }
  .card-img:hover img {
	transform: scale(1.05);
  }
  .card-img .caption {
	opacity: 0;
	position: absolute;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.279);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-family: system-ui;
	font-weight: bold;
	color: white;
	transition: all 600ms ease-in-out;
  }
  .card-img:hover .caption {
	opacity: 1;
  }
  img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	transition: all 600ms ease-in-out;
  }
  .galery {
	display: grid;
	grid-template-columns: auto auto auto;
  }
  .wrapper {
    background: white;
    width: 90px;
    padding: 350px;
    box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.028), 0 0px 5.3px rgba(0, 0, 0, 0.04), 0 0px 10px rgba(0, 0, 0, 0.05);
	padding-top: 25px;
	padding-bottom: 25px;
}
h5 {
    background: #608d78;
    color: white;
    letter-spacing: 0.1px;
    padding: 10px;
    cursor: default;
	text-align: center;
	font-size: large;
}
form,
input,
textarea,
button {
    font-family: inherit;
    font-size: initial;
}
.form-group label {
    display: block;
    margin: 25px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
    transition: border 0.15s;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    height: 30px;
}
.form-group textarea {
    resize: vertical;
}
.submit {
    background: #608d78;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    transition: background 0.15s;
}
.submit:hover {
    background: rgba(173, 216, 230, 1);
    color: black;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: 1px solid #1dfdcc;
}
footer {
	background-color: #ddd;
	padding:50px;
	text-align: center;
}
container2 { 
	text-align: center;
}
footer medium {
	color: black;
}
/* responsive */
@media screen and (min-width: 576px) {
    .wrapper {
        width: 70%;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 55%;
    }
}
@media screen and (min-width: 992px) {
    .wrapper {
        width: 45%;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 35%;
    }
}
@media (max-width: 768px) {
	.mobile-menu {
		display: block;
  }
}
